html {
  font-family: Futura;
  background-color: #9fabce;
  margin:4px;
  padding:0;
}
body{
  background-color: white;
  padding:0;
}
h1 {
  font-family: Futura;
  font-weight: normal;
}
.center {
  text-align: center;
}

ul.nav {
  text-align: right;
  background-color:#9fabce;
  padding-left: 50px;
  padding-right: 50px;
}
li.nav {
  background-color: #efefef;
  display: inline-block;
  font-family: Futura, sans-serif;
  padding: 14px 25px;
  text-align: center;
}
a.nav {
  color: black;
  text-decoration: none;
}
li#current {
  background-color: white;
}

a.hook {
  background-color: #9fabce;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  margin-right: 8px;
  margin-left: 8px;
}

div.hook {
  width:100%;
  background-color: white;
  padding-top: 25px;
  padding-bottom: 55px;
  text-align: center;
}
div.game{
  width: 100%;
  background-color: white;
  padding-top: 25px;
  padding-bottom: 55px;
  text-align: center;
}
div.guide{
  width: 90%;
  background-color: white;
  padding-top: 25px;
  padding-bottom: 55px;
  padding-left: 50px;
  text-align: left;
}
div.interviews{
  width: 100%;
  background-color: white;
  padding-top: 25px;
  padding-bottom: 55px;
  text-align: center;
}

ul.button {
  text-align: center;
}
li.button {
  background-color: #9fabce;
  display: inline-block;
  font-weight: bold;
  padding: 14px 25px;
  text-align: center;
  margin: 0px 20px;
}
